.list-div {
    background-color: rgb(237, 224, 216);
    padding: 0 15px 10px 15px;
}

.title {
    margin: 20px 0;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    overflow: scroll;
}

@media (max-width: 650px) {
    .list-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 400px) {
    .list-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .list-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 200px) {
    .list-container {
        grid-template-columns: 1fr;
    }
}